/* untuk tablet */
@media all and (max-width: 850px) {
  .value {
    width: 33.33%;
  }

  .team-a {
    width: 33.33%;
    margin-bottom: 30px;
  }

  .team-b .team-icon {
    margin: 0;
  }

  .team-b .team-icon img {
    width: 75%;
  }

  .team-icon img {
    width: 50%;
  }

  .team-media a img {
    padding-top: 2%;
    padding-right: 10px;
    width: 15%;
    text-decoration: none;  
  }

  .name {
    font-size: 100%;
  }

  .text-contents {
    font-size: 100%;
  }

  .heading h1 {
    font-size: 30px;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .top-wrapper {
    width: auto;
  }

  /*extra 2*/
  .form {
    height: 300px;  
    padding: 20px 30px;
  
  }

  .form-title {
    padding-bottom: 20px;

  }

  .form-list p {
    padding-bottom: 5px;
    font-size: 15px;
  }

  input {
    width: 100%;
    height: 10px;
    padding: 10px;
    
  }

  button {
    padding: 8px 12px;
    margin: 8px 0 0;
    
  }
}

/* untuk smartphone */
@media all and (max-width: 670px) {
  .value {
    width: 100%;
    margin-bottom: 100px;
  }

  .team-a {
    width: 100%;
    margin-bottom: 30px;
  }

  .team-b {
    width: 100%;
    margin: 0;
  }

  .text-contents {
    width: 100%;
    font-size: 20px;
  }

  .team-icon img {
    width: 75%;
  }

  .name {
    font-size: 25px;
  }

  .text-contents {
    font-size: 17px;
  }

  .team-media a img {
    padding-top: 2%;
    padding-right: 10px;
    width: 15%;
    text-decoration: none;  
  }

  .heading h1 {
    font-size: 40px;
  }

  .btn {
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  /*extra 2*/
  .form {
    height: 300px;  
    padding: 20px 30px;
  
  }

  .form-title {
    padding-bottom: 20px;

  }

  .form-list p {
    padding-bottom: 5px;
  }

  input {
    width: 100%;
    height: 10px;
    padding: 10px;
    
  }

  button {
    padding: 8px 12px;
    margin: 8px 0 0;
    
  }

  footer {
  text-align: center;
  font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}